@import "helpers/theme-media-query";
@import "bs-theming/bs-theming";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "bs-theming/bs-theming";
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
// @import "./react-header";
@import "bs-theming/fonts";
span,
a {
  display: inline-block;
  text-decoration: none;
}
body {
  > div {
  overflow: hidden;
}
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600 !important;
  font-family: 'Rubik', sans-serif !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: 'Rubik', sans-serif;
}
.site-menu-main .main-nav-item > .nav-link {
  font-weight: 600 !important;
  font-family: 'Rubik', sans-serif;
}

/* Animations Sonar */
.sonar-emitter {
  position: relative;
}

.sonar-emitter::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  background-color: $primary;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.sonar-emitter::after {
  animation: sonarWave 2s linear infinite;
}

.sonar-emitter-2 {
  position: relative;
}

.sonar-emitter-2::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  background-color: $white;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.sonar-emitter-2::after {
  animation: sonarWave 2s linear infinite;
}
@-webkit-keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}


.btn-rest{
  box-shadow: none;
  border:0px;
  background:transparent;
  &:focus{
    outline: none;
  }
}



.card{
  &-title{
    font-size: 18px;
    color:red;
  }
  &-text{
    color:green;
    font-size: 14px;
  }
  &.card-active{
    background:pink
  }
  &.text-center{
    text-align: center;
  }
}
.intern-features{
  padding: -50px 0;
}


@media only screen and (max-width:1600px) {
	.welcome-image--group-01__img-5 {
		left: -120% !important;
	}
}
@media only screen and (max-width:1399px) {
	.welcome-image--group-01__img-5 {
    left: -122% !important;
    top: 90% !important;
	}
}
@media only screen and (max-width:1240px) {
	.welcome-image--group-01__img-5 {
    left: -830px !important;
    top: 90px !important;
	}
}

// ---- homepage--------------------------


@media only screen and (max-width:1399px) {
  .homepage-hero p {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .homepage-hero .hero-form .hero-btn1{
    font-size: 14px !important;
    margin-right: 20px;
  }
  .homepage-hero .hero-form .hero-btn2{
    font-size: 14px !important;
  }
  .header-logo{
    width: 80%;
  }
  .site-menu-main .main-nav-item > .nav-link{
    font-size: 16px !important;
  }
  .service-sec .service-header{
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
  }
  .service-title{
    font-size: 18px !important;
    line-height: 30px !important;
  }
  .service-widget-sec p{
    font-size: 16px;
    line-height: 24px;
  }
  .service-widget-sec .link-text{
    font-size: 18px !important;
    line-height: 27px !important;
  }
  .service-section h2{
    font-size: 50px;
    font-weight: 700;
  }
  .service-card p{
    font-size: 14px;
  }

  .top-footer-sec h2{
    font-size: 50px;
  }


  .imagegroup .welcome-image--group-01__img-6{
    left: 114% !important;
    top: 44% !important;
    width: 27% !important;
  }

  .imagegroup .welcome-image--group-01__img-7{
    right: -39% !important;
    bottom: 0% !important;
  }

  .imagegroup .welcome-image--group-01__img-3{
    right: -17% !important;
    bottom: -4% !important;
  }
  // ---- homepage end --------------------------

  //-----------------Buisness Page --------------------

  .business-hero .business-btn1{
    margin-right: 32px !important;
  }

  .service-card-business{
    padding-bottom: 0px !important;
    min-height: 261px !important;

  }


  .business-sec-altcards .white-back{
    background: #fff !important;
  }

  .business-sec-altcards .alt-image{
    padding-left: 15px;
  }



  //----------------- Agences -------------------------

  .agencie-hero p{
    font-size: 18px;
    line-height: 27px;
  }

  .agencies-content-sec2 h1{
    font-size: 60px;
  }

  .agencies-content-sec2 h2{
    font-size: 42px !important;
    line-height: 60px !important;
  }


  //----------------Marketplace ----------------------------

    .agency-btn1, .agency-btn2{
      font-size: 14px !important;
    }

    .ai-heading-sec2 h1{
    font-size: 50px !important;
    line-height: 75px !important;
    text-align: center !important;
    }

    .ai-left-para-sec h2{
      font-size: 40px !important;
      line-height: 60px !important;
    }

    .ai-left-para-sec p{
      font-size: 16px;
      line-height: 27px;
    }


    .main-section2 .ai-para-sec2 .ai-right-para p {
      font-size: 18px !important;
      line-height: 27px !important;
      padding-right: 96px;
  }

    .ai-para-sec2 .colored-bg{
      padding-top: 50px !important;
    }

    .bg-colored2{
    padding: 0px 149px !important;
    padding-bottom: 130px!important;
    padding-top: 54px !important;
    }

    .ai-skew-image1{
      left: -46%;
      transform: skewX(11deg);
    }

    .ai-skew-image2{
      left: -98%;
      transform: skewX(11deg);
    }

    .ai-para3{
      font-size: 16px !important;
    line-height: 27px !important;

    }


    .ai-last-para-colored h2{
      font-size: 30px !important;
      line-height: 45px;
      }
    
    .ai-last-para-colored p{
      font-size: 18px;
      line-height: 27px;
    }
    .ai-main-last-image{
      top: 35px;
    }
  //----------------Marketplace end ------------------------

  //---------------Hire intern -----------------------------
    .hire-intern-hero h2{
      font-size: 50px;
      line-height:75px;
    }

    .hire-intern-hero p{
      font-size: 18px;
      list-style: 27px;
    }

    .hire-intern-hero .business-btn1{
      font-size: 16px !important;
      width: 200px !important;
      height: 55px !important;
    }


    .intern-promo-sec p{
      font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    }

    .hire-intern-card p{
      font-size: 14px;
      line-height: 26px;
    }

    .hire-intern-sub-head{
      font-size: 20px;
      font-weight: 400;
    }

    .hire-inter-process-sec .ai-integrations .hire-intern-sub-para{
      font-size: 14px !important;
    }

    .get-started-heading{
      font-size: 40px !important;
      font-weight: 500px !important;
    }

    .get-started-sec p{
      font-size: 18px !important;
      line-height: 27px !important;
    }
  //---------------Hire intern end -------------------------

  //---------------Pricing Page ----------------------------
    
    .pricing-head{
      font-size: 40px !important;
    }

    .bottom-dash{
      margin-left: 50px !important;
    }

    .pricing-card-top .bottom-dash{
      margin-bottom: 70px !important;
    }

    .pricing-card-top{
      min-height: 286px !important;
    }
  //---------------Pricing page end ------------------------
  //---------------Contact Page ----------------------------
    .form-check-label{
      font-size: 11px !important;
    }

  //---------------Contact Page end ------------------------


  

  .flex-row-reverse.row .business-altcard p{
    right: -5px !important;
  }


  .PVC-section-title h2{
    font-size: 40px !important;
  }

  .PVC-section-title p{
    font-size: 18px !important;
    line-height: 27px !important;
  }

  .PVC-hero-sec h2{
    font-size: 50px !important;
  }
  .PVC-hero-sec p{
    font-size: 18px;
  }
}
.link-page{
  display:block !important;
}
.link-page:hover{
  color:#fff;
  box-shadow: none;
}
.link-page p, img, h4 :hover{
  background: transparent;
}
.link-page{
  border-radius: 15px;
}
.purple, .pink, .mustard, .cyan   {
  transition: 1.0s all ease; /* vendorless fallback */
  -o-transition: 1.0s all ease; /* opera */
  -ms-transition: 1.0s all ease; /* IE 10 */
  -moz-transition: 1.0s all ease; /* Firefox */
  -webkit-transition: 1.0s all ease; /*safari and chrome */
  margin-bottom:30px;
}
.purple:hover{
  background-color: #6001d3d1;
  -webkit-transition: 1.0s all ease;    
  transition: 1.0s all ease;  
}

.pink:hover {
  background-color: #fc346e9e;
  -webkit-transition: 1.0s all ease;    
  transition: 1.0s all ease;  
}

.mustard:hover {
  background-color: #ffd700fa;
  -webkit-transition: 1.0s all ease;    
  transition: 1.0s all ease;  
}

.cyan:hover {
  background-color: #1ee1cefa;
  -webkit-transition: 1.0s all ease;    
  transition: 1.0s all ease;  
}
.card-img:hover {
  background: transparent;
}
.card-img {
  width: auto;
  transition: 1.0s all ease; /* vendorless fallback */
  -o-transition: 1.0s all ease; /* opera */
  -ms-transition: 1.0s all ease; /* IE 10 */
  -moz-transition: 1.0s all ease; /* Firefox */
  -webkit-transition: 1.0s all ease; /*safari and chrome */
}
.arrow{
  position: relative;
  left: 75px;
  margin-top: 20px;
  width: 33px;
  height: 32px;
}


.white-arrow{
  position: absolute;
  right: 62px;
  bottom: 33px;
  display: none;
}

.link-page:hover{
  .white-arrow{
    display: block;
  }
  p{
    opacity: 1;
  }
}


.arrow, .white-arrow:hover{
  background: transparent;
}



.link-page:hover {
  .card-img-white{
    position: absolute;
    background: transparent;
    display: block;
    top: 41px;
  }
  .market {
    left:37%;
  }
  .auditor{
    left:48px;
  }
  .pvc-cls{
    left:56px;
  }
}

.card-img-white{
  display: none;
}

.close-btn:hover{
  color: #fff !important;
}

.close2-btn:hover{
  color: #fff !important;
}

.blueclose-btn:hover{
  color:#fff !important;
}
.header-close-btn:hover{
  color:#fff !important;
}
@media(min-width:992px){
  .market {
    left: 65px;
    top: 40px;
  }
  .auditor {
    left: 48px;
    top: 40px;
  }
  .pvc-cls {
    left: 56px;
  }

  .employee-cls {
    left: 50px;
  }

  .white-arrow{
    right: 46px;
    bottom: 87px;
    width: 26px;
    height: 26px;
  }

  .arrow{
    left: 49px;
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }





}

@media(min-width:1170px){
  .link-page:hover{
    .white-arrow{
      right: 40px;
      bottom: 59px;
    }
  }
  .arrow{
    bottom:0;
  }

  .link-page:hover{
    .market{
      left:88px;
    }
    .auditor{
      left:70px;
    }
    .pvc-cls{
      left:78px;
    }
    .employee-cls{
      left: 73px;
    }
  }

  .arrow{
    position: relative;
    left: 75px;
    margin-top: 20px;
    width: 33px;
    height: 32px;
  }
  
  .link-page:hover{
    .white-arrow{
      display: block;
      bottom: 59px;
      right: 39px;
      width: 33px;
      height: 32px; 
    }
  }


  

}

@media(min-width:1400px){
  .arrow{
    position: relative;
    left: 75px;
    margin-top: 20px;
    width: 33px;
    height: 32px;
  }
  
  .link-page:hover{
    .white-arrow{
      display: block;
      bottom: 33px;
      right: 62px; 
      width: 33px;
      height: 32px; 
    }
  }
  
  
  .arrow, .white-arrow:hover{
    background: transparent;
  }
  
  
  
  .link-page:hover {
    .card-img-white {
      position: absolute;
      background: transparent;
      display: block;
      top: 41px;
    }
    .market{
      left:110px;
    }
    .auditor{
      left:93px;
    }
    .pvc-cls{
      left:100px;
    }
    .employee-cls{
      left: 94px;
    }
  }
  
  .card-img-white{
    display: none;
    transition: 1.0s all ease; /* vendorless fallback */
      -o-transition: 1.0s all ease; /* opera */
      -ms-transition: 1.0s all ease; /* IE 10 */
      -moz-transition: 1.0s all ease; /* Firefox */
      -webkit-transition: 1.0s all ease; /*safari and chrome */
  }
}
.shadow-blue {
  box-shadow: -4px 4px 20px rgba(26, 117, 255, 0.7);
}

.orange-shadow {
  box-shadow: -4px 4px 20px rgba(255, 87, 34, 0.7);
}

@media only screen and (max-width:991px) {
  .link-page:hover .market {
    left: 37.30%;
  }
  .link-page:hover .auditor {
    left: 32%;
  }
  .link-page:hover .pvc-cls {
    left: 34.3%;
  }
  .link-page:hover .employee-cls {
    left: 33%;
  }
  .link-page:hover .arrow {
    display:none;
  }
  .link-page:hover .white-arrow {
    right: 76px;
    bottom: 89px;
  }
}
@media only screen and (max-width:767px) {
  .light-header .hamburgur {
    position: absolute;
    left: 0px;
    padding:0.25rem 0.25rem;
  }
  .navbar-light .navbar-brand {
    margin-left: 60px;
  }
  .site-navbar.navbar > div:last-child {
    display: flex !important;
    flex-direction: row;
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 0;
  }
  .site-navbar.navbar > div:last-child > a {
    font-size: 14px;
    box-shadow: none;
    border:0px;
    margin: 0;
    height: auto;
    padding: 0 4px;
    border-radius: 0px;
    min-width: auto;
  }
  .top-footer-sec h2 {
    font-size: 24px;
    line-height: 36px;
    padding: 80px 0 0;
  }
  .link-page:hover .white-arrow {
    right: 31px;
  }
}
@media only screen and (max-width:576px) {
  .link-page:hover .white-arrow {
    right: 82px;
  }
}
@media only screen and (max-width:545px) {
  .link-page:hover .white-arrow {
    right: 62px;
  }
}
@media only screen and (max-width:568px) {
  .link-page:hover .white-arrow {
    right: 89px;
  }
}
@media only screen and (max-width:481px) {
  .link-page:hover .white-arrow {
    right: 127px;
  }
}
@media only screen and (max-width:479px) {
  .site-navbar.navbar > div:last-child > a {
    font-size: 12px;
  }
}
@media only screen and (max-width:420px) {
  .link-page:hover .white-arrow {
    right: 104px;
  }
}
@media only screen and (max-width:413px) {
  .link-page:hover .white-arrow {
    right: 102px;
  }
}
@media only screen and (max-width:395px) {
  .link-page:hover .white-arrow {
    right: 92px;
  }
}
@media only screen and (max-width:380px) {
  .link-page:hover .white-arrow {
    right: 83px;
  }
}
@media only screen and (max-width:365px) {
  .link-page:hover .white-arrow {
    right: 76px;
  }
}